# Aliases to network stuff

alias clark='ssh r.roler@ctec.clark.edu'
alias remote='sshfs -p 6000 ryan@saturn.roler:/ /media/saturn'
alias mpc='mpc -h saturn.roler -p 6001'
alias tunnel='ssh -ND 6000 -v ryan@r3.servebeer.com'
alias Scp='scp -P 6000'
alias S='ssh -p 6000 -C -X -t 192.168.0.23'
alias listening='netstat --numeric-ports -p -l'

# Basic App Customization

alias X='startx'
alias die='killall -SIGKILL'
alias top='htop'
alias spell='aspell -a'
alias mkdir='mkdir -p'
alias man='man -P "less -X"'
alias less='less -X'
alias l='ls --color=auto --group-directories-first -hF'
alias ls='ls --color=auto --group-directories-first -hF'
alias lls='ls -lh --color=auto --group-directories-first -hF'
alias lsa='ls -lha --color=auto --group-directories-first -hF'
alias df='df -h'
alias du='du -h'
alias gvim='gvim -geom 80x20'
alias makepkg='makepkg -i'
alias ping='ping -c 1'
alias netcfg='sudo netcfg'
alias down='sudo shutdown -h now'
alias Extrenuous='sudo pacman -R `pacman -Qtd | cut -d " " -f 1`'
alias cower='cower --timeout=0'
alias Follow='sudo tail -f /var/log/messages.log'
alias is='ps aux|command grep -v grep|command grep -i'
alias FixClock='sudo ntpdate 0.us.pool.ntp.org'
alias gv='gvim'
alias reboot='sudo reboot'


# Application Shortcuts

alias projector='xrandr --output VGA1 --auto'
alias todo='python ~/Programming/Python/projects/todo/todo.py'
alias dorf='~/Games/df_linux/dfhack'
alias ftl='cd ~/Games/FTL/; ./FTL; cd -'
alias soundsense='cd /home/ryan/Games/DwarfFortress/soundsense; soundSense.sh'
alias slideshow='feh -F -D 5 .'
alias grep='ack'


# Python Shortcuts

alias r3='wo r3tagger; cd r3tagger'
alias wo='source /usr/bin/virtualenvwrapper.sh; workon'
alias mkproject='source /usr/bin/virtualenvwrapper.sh; mkproject'
alias i='ipython --no-confirm-exit --nosep --no-banner'
alias i2='ipython2 --no-confirm-exit --nosep --no-banner'
alias pdb='python3 -m pdb'
alias pdb2='python2 -m pdb'
alias pyspeed-test='python -m timeit -s'


# Opens extension with app

alias -s html=luakit
alias -s htm=luakit
alias -s com=luakit
alias -s pdf=zathura
alias -s txt=vim
alias -s c=vim
alias -s log=less
alias -s conf=vim
alias -s tex=vim
alias -s rar='unrar e'
alias -s 7z=7z 
alias -s zip=unzip
alias -s jpg=feh
alias -s jpeg=feh
alias -s png=feh
alias -s mp3=vlc
alias -s flv=vlc
alias -s mpg=vlc
alias -s wmv=vlc
alias -s mov=vlc
alias -s avi=vlc
alias -s mp4=vlc
alias -s odt=libreoffice
alias -s doc=libreoffice
alias -s docx=libreoffice
alias -s rtf=libreoffice
alias -s ppt=libreoffice
alias -s pef=ufraw
alias -s PEF=ufraw

# Books

alias Java='cd /home/ryan/Programming/Java/Thinking; zathura ~/Docs/Books/CompScience/Programming/Java/ThinkingInJava_4th.pdf &'
alias JS='zathura ~/Docs/Books/CompScience/Programming/JavaScript/ProfessionalJavaScriptForWebDevelopers.pdf'
alias Smalltalk='zathura ~/Docs/Books/CompScience/Programming/Smalltalk/SqueakByExample.pdf &'
alias Qt='wo qt; zathura ~/Docs/Books/CompScience/Programming/Python/RapidGUIProgrammingWithPythonAndQt.pdf &'
alias Git='zathura ~/Docs/Books/CompScience/Programming/Theory/VersionControlWithGit.pdf &'
alias C='zathura ~/Docs/Books/CompScience/Programming/C++/Accelerated_C++.pdf &'
