# Aliases to network stuff

alias clark='ssh r.roler@ctec.clark.edu'
alias remote='sshfs -p 6000 ryan@saturn.roler:/ /media/saturn'
alias mpc='mpc -h saturn.roler -p 6001'
alias tunnel='ssh -ND 6000 -v ryan@r3.servebeer.com'
alias Scp='scp -P 6000'
alias S='ssh -p 6000 -C -X -t 192.168.0.23'
alias listen='netstat --numeric-ports -p -l'

# Basic Application Shortcuts

alias X='startx'
alias die='killall -SIGKILL'
alias top='htop'
alias spell='hunspell -a'
alias mkdir='mkdir -p'
alias man='man -P "less -X"'
alias less='less -X'
alias l='ls --color=always'
alias ls='ls --color=always'
alias lls='ls -lh --color=always'
alias lsa='ls -lha --color=always'
alias grep='grep --color=always'
alias df='df -h'
alias du='du -h'
alias gvim='gvim -geom 80x20'
alias makepkg='makepkg -i'
alias ping='ping -c 1'
alias down='sudo shutdown -h now'
alias U='udiskie-umount -a'
alias umount='udiskie-umount'
alias Extrenuous='sudo pacman -R `pacman -Qtd | cut -d " " -f 1`'
alias cower='cower --timeout=0'
alias Follow='sudo tail -f /var/log/messages.log'
alias is='ps aux|grep -v grep|grep -i'
alias p='pushd'
alias o='popd'
alias FixClock='sudo ntpdate 0.us.pool.ntp.org'
alias gv='gvim'
alias v='vim'
alias wo='source /usr/bin/virtualenvwrapper.sh; workon'
alias g='ack -i --output \$.:\$_'
alias reboot='sudo reboot'

# Application Shortcuts

alias projector='xrandr --output VGA1 --auto'
alias todo='vim ~/.todo'
alias dorf='~/Games/DwarfFortress/dfhack'
alias slideshow='feh -F -D 5 .'
alias eclim='~/.scripts/Eclimd > /dev/null'
alias eclimd='~/.scripts/Eclimd > /dev/null'
alias math='/opt/Mathematica/mathematica -clean'
alias soundsense='/home/ryan/Games/DwarfFortress/soundsense/soundSense.sh'


# Python Shortcuts

alias py='ipython kernel & vim -c IPython'
alias i='ipython --no-confirm-exit --nosep --no-banner'
alias i2='ipython2 --no-confirm-exit --nosep --no-banner'
alias calc='isympy'
alias pydb='python3 -m pdb'
alias pydb2='python2 -m pdb'


# Opens extension with app

alias -s py=vim
alias -s html=luakit
alias -s htm=luakit
alias -s com=luakit
alias -s pdf=zathura
alias -s txt=vim
alias -s c=vim
alias -s log=less
alias -s conf=vim
alias -s tex=vim
alias -s old=mv
alias -s bak=mv
alias -s rar='unrar e'
alias -s 7z=7z 
alias -s zip=unzip
alias -s jpg=feh
alias -s jpeg=feh
alias -s png=feh
alias -s mp3=vlc
alias -s flv=vlc
alias -s mpg=vlc
alias -s wmv=vlc
alias -s mov=vlc
alias -s avi=vlc
alias -s mp4=vlc
alias -s odt=openoffice.org3
alias -s doc=openoffice.org3
alias -s docx=openoffice.org3
alias -s rtf=openoffice.org3
alias -s ppt=openoffice.org3

# Books

alias book='zathura ~/Docs/Books/CompScience/Programming/Python/ExpertPythonProgramming.pdf &'
alias C='zathura ~/Docs/Books/CompScience/Programming/C/TheCProgrammingLanguage_v2.pdf &'
alias CM='zathura ~/Docs/Books/CompScience/Programming/C/AModernApproach_2nd.pdf &'
alias J='cd ~/Programming/Java/HeadFirst; zathura ~/Docs/Books/CompScience/Programming/Java/HeadFirstJava.pdf &'
alias Java='cd /home/ryan/Programming/Java/Thinking; zathura ~/Docs/Books/CompScience/Programming/Java/ThinkingInJava_4th.pdf &'
alias small='zathura ~/Docs/Books/CompScience/Programming/Smalltalk/SqueakByExample.pdf &'
alias Qt='cd /home/ryan/Programming/Python/qt; zathura ~/Docs/Books/CompScience/Programming/Python/RapidGUIProgrammingWithPythonAndQt.pdf &'
